.destination-card__main-text {
  margin: 0;
  padding: 0 16px 0 16px;
  font-family: Inter, Arial, "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

@media only screen and (min-width: 768px) {
  .destination-card__main-text {
    padding: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .destination-card__main-text {
    font-size: 18px;
  }
}
