.trains__container-title {
  margin: 0 auto 0 auto;
  padding: 33px 0 16px 0;
  text-decoration: none;
  z-index: 2;
  position: relative;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  max-width: 288px;
}

@media only screen and (min-width: 768px) {
  .trains__container-title {
    padding-top: 115px;
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
  }
}
@media only screen and (min-width: 1024px) {
  .trains__container-title {
    padding-top: 195px;
    font-size: 72px;
    line-height: 76px;
  }
}
@media only screen and (min-width: 1280px) {
  .trains__container-title {
    padding-top: 245px;
    font-size: 72px;
    line-height: 76px;
  }
}
