.intro__image-container {
  width: calc(100% - (148px * 2));
}
@media only screen and (max-width: 1024px) {
  .intro__image-container {
    width: calc(100% - (48px * 2));
  }
}

@media only screen and (max-width: 768px) {
  .intro__image-container {
    width: 100vw;
  }
}
