.intro__title {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  max-width: 288px;
  text-align: center;
  text-rendering: optimizeLegibility;
}

@media only screen and (min-width: 768px) {
  .intro__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
  }
}
